p, .rst-content dl p {
    margin-bottom: 4px;
    margin-top: 12px;
}



h1, h2, h3, h4, h5, h6, .rst-content h1, .rst-content h2, .rst-content h3, .rst-content h4, .rst-content h5, .rst-content h6 {
    margin-bottom: 10px;
}

h1, .rst-content h1 {
    margin-top: 24px;
}

.rst-content dl.method, .rst-content dl.class {
    margin-top: 18px;
}

h2, .rst-content h2 {
    margin-top: 19px;
}
h3, .rst-content h3 {
    margin-top: 16px;
}
h4, .rst-content h4 {
    margin-top: 14px;
}

.rst-content dl h2 {
    margin-top: 15px;
}
.rst-content dl h3 {
    margin-top: 12px;
}
.rst-content dl h4 {
    margin-top: 10px;
}
    
.rst-content dl dt {
    margin-bottom: 0px;
}

.rst-content dl {
    margin-bottom: 16px;
}

.rst-content dl dd {
    margin-bottom: 12px;
}

figure {
    padding-bottom: 8px;
}

.rst-content div.highlight-default {
    margin-bottom: 4px;
    margin-top: 12px;
}

.rst-content p+div.highlight-default {
    margin-top: 4px;
}

.rst-content div.highlight-default+p {
    margin-top: 4px;
}

div.document {
    margin-bottom: 24px;
}
